Exam 2 Answers

In [147]:
# Problem 1

germplasm = open("Germplasm.tsv", "r")
locusgene = open("LocusGene.tsv", "r")
import re 
germplasm.seek(0)
locusgene.seek(0)
agis1 = []
agis2 = []
files = [germplasm.readlines(), locusgene.readlines()]
for line in files[0]:
    agi = re.search(r"AT\dG\d{5}", line)
    if agi:
        agis1.append([agi.group()])
#print(agis1)
for line in files[1]:
    agi = re.search(r"AT\dG\d{5}", line)
    if agi:
        agis2.append([agi.group()])
#print(agis2)
if(agis1 == agis2):
    print("Both files have the same AGIs")
else:
    print("The files do not heve the same AGIs")

Both files have the same AGIs

In [65]:
# Problem 2
%load_ext sql
#%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql
#%sql show databases;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testing123',)]

In [90]:
%sql drop database germplasm
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql
%sql create database germplasm;
%sql show databases;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
6 rows affected.

[('information_schema',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testing123',)]

In [83]:
germplasm.seek(0)
print(germplasm.readlines(1))
locusgene.seek(0)
print(locusgene.readlines(1))

['Locus\tgermplasm\tphenotype\tpubmed\n']
['Locus\tGene\tProteinLength\n']

In [ ]:
import pymysql.cursors
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "create table germplasms(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, locus VARCHAR(10) NOT NULL, germplasm VARCHAR(10) NOT NULL, phenotype VARCHAR(400) NOT NULL, pubmed INTEGER NOT NULL)"
        cursor.execute(sql)
        sql = "create table locusgene(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, gene VARCHAR(10) NOT NULL, protein_length INTEGER NOT NULL)"
        cursor.execute(sql)
finally:
    print("")
    connection.close()

In [96]:
%sql use germplasm
%sql desc germplasms
%sql desc locusgene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('locus', 'varchar(10)', 'NO', '', None, ''),
 ('germplasm', 'varchar(10)', 'NO', '', None, ''),
 ('phenotype', 'varchar(400)', 'NO', '', None, ''),
 ('pubmed', 'int(11)', 'NO', '', None, '')]

In [ ]:
# Problem 3

In [152]:
git.add(".")
git.status

NameError: name 'git' is not defined